# Ignoriši Tomcat webapps direktorijum
WebShopAppREST/webapps/

# Uključujući sve druge standardne direktorijume koje ne želite da verzionišete
.classpath
.project
.settings/
.idea/
*.iml
*.iws
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
.gradle/
build/
conf/
logs/
temp/
work/

# Node modules
node_modules/

# Dist directory
dist/

# Local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln